build
dist
MANIFEST
pyvex_python
vex_ffi.py
libpyvex.so
*.egg-info
*.eggs
*.pyc
*.swp
*.obj
*.lib
*.dll
*.exp
*.o
*.a
*.dylib
pyvex/lib
pyvex/include
vex-master
vex-master.tar.gz
docs/_build
scikit_build
uv.lock
