[build-system]
requires = ["setuptools>=59", "wheel", "cffi >= 1.0.3"]
build-backend = "setuptools.build_meta"

[tool.black]
line-length = 120
target-version = ['py310']
force-exclude = '''
/(
  vex
)/
'''

[tool.ruff]
line-length = 120

[tool.ruff.lint]
select = [
  "E",
  "F",
  "I",
  "TID",
]
